/* #profile-card {
    background-color: #161e2d;
} */

.app-section-header {
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 1);
    text-align: center;
    font-size: 1.5rem;
    font-size: xx-large;
    /* border-radius: 5px;
    border-width: 1px; */
    /* border-color: #606d54; */
    /* color: #fff; */
    /* background-color: #606d54; */
    /* box-shadow: var(--shadow-lg); */
    /* font-weight: bold; */
}

