#profile-card {
    border-color: #cacaca;
    border-width: 1px;
    background-color: #acbfa4;
}

.app-section-header {
    border-radius: 5px;
    border-color: #606d54;
    border-width: 1px;
    color: #fff;
    padding-inline: calc(var(--spacing) * 4);
    padding-block: calc(var(--spacing) * 1);
    text-align: center;
    box-shadow: var(--shadow-lg);
    background-color: #606d54;
    font-weight: bold;
    text-transform: lowercase;
}